In [ ]:
# given a file of matches, assign a new match number in the master database

# note: this matches file was just a list of pairs, no triple pairs or match ids. may need to be modified in the future

In [1]:
import numpy as np 
import pandas as pd

In [17]:
# import files
master = pd.read_excel("current_master_11_17_20.xlsx")
matches = pd.read_excel("AIA on victoria_11_14_20_3.xlsx")

In [3]:
master.head()

,unique_id,source,Census.Year,State/Province,County,Place,Household Joint ID,Joint ID for Matched Records,Last.Name,First.Name,...,Male birth,Female birth,Schoolm,Schoolf,Notes,Year of this Record,Last Name MATCH,First Name Match,Census Year Match,Total of Matches
0,2,9247,1900,ME,WASHINGTON,MACHIAS,NaN,1,ADDISON,ALBERTJ,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,False
1,3,NaN,1864,CanadaWest,Essex,Windsor,NaN,1,Addison,James,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,False
2,47806,NaN,1864,CanadaWest,Essex,Windsor,133,2,Weeks,Mark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1880 IPUMS 100% sample,1880,MI,WAYNE,DETROIT,133,2,WEEKS,MARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1864,CanadaWest,Essex,Windsor,133,2,Weeks,Mark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#new.columns = master.columns

In [19]:
matches.tail()

,AIA match judgement,unique_id,source,Census.Year,State/Province,County,Place,Household Joint ID,Joint ID for Matched Records,Last.Name,...,Male birth,Female birth,Schoolm,Schoolf,Notes,Year of this Record,Last Name MATCH,First Name Match,Census Year Match,Total of Matches
73,y,55421,"Flett, African British Columbia women.docx",NaN,NaN,NaN,NaN,NaN,1486,Gant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,y,60689,1871 Census,1871.0,British Columbia,Victoria,NaN,NaN,NaN,Gant,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
75,y,59028,Sherry Edmunds-Flett Research Collection.docx,NaN,NaN,NaN,NaN,NaN,1486,Gant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,y,60713,1871 Census,1871.0,British Columbia,Victoria,NaN,NaN,NaN,Bond,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,y,59258,Sherry Edmunds-Flett Research Collection.docx,NaN,NaN,NaN,NaN,NaN,NaN,Bond,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# oct 2020

# enter in last used match and household numbers from the numeration file 
match_number = 2468
household_match_number = 135

for i in range(0, len(matches.index), 2):
    
    ### define some variables 
    # find first record in the master
    unique_id_1 = matches.loc[matches.index[i], 'unique_id']   
    master_index_1 = master[master['unique_id'] == unique_id_1].index.tolist()
    # pull out match number and household id
    match_1 = master.loc[master_index_1, 'Joint ID for Matched Records'].item()
    household_match_1 = master.loc[master_index_1, 'Household Joint ID'].item()
    
    # find second record in the master
    unique_id_2 = matches.loc[matches.index[i + 1], 'unique_id']   
    master_index_2 = master[master['unique_id'] == unique_id_2].index.tolist()
    # pull out match number and household id
    match_2 = master.loc[master_index_2, 'Joint ID for Matched Records'].item()
    household_match_2 = master.loc[master_index_2, 'Household Joint ID'].item()
    
    ### generate match ids 
    # if both have existing match numbers, this could be a problem or could be something that should be examined
    if isinstance(match_1, int) & isinstance(match_2, int):
        if match_1 != match_2:
            my_string = "examine " + str(match_1) + " & " + str(match_2)
            master.loc[master.index[master_index_1], 'Joint ID for Matched Records'] = my_string
    # if only match 1 has an existing match number
    elif isinstance(match_1, int):
        master.loc[master.index[master_index_2], 'Joint ID for Matched Records'] = match_1
    # if only match 2 has an existing match number
    elif isinstance(match_2, int):
        master.loc[master.index[master_index_1], 'Joint ID for Matched Records'] = match_2
    # if neither have an existing match number, generate a new one
    else:
        master.loc[master.index[master_index_1], 'Joint ID for Matched Records'] = match_number
        master.loc[master.index[master_index_2], 'Joint ID for Matched Records'] = match_number
        match_number = match_number + 1
       
    ### repeat process for household ids
    # if both have existing match numbers, this could be a problem or could be something that should be examined
    if isinstance(household_match_1, int) & isinstance(household_match_2, int):
        if household_match_1 != household_match_2:
            my_string = "examine " + str(household_match_1) + " & " + str(household_match_2)
            master.loc[master.index[master_index_1], 'Household Joint ID'] = my_string
    # if only match 1 has an existing match number
    elif isinstance(household_match_1, int):
        master.loc[master.index[master_index_2], 'Household Joint ID'] = household_match_1
    # if only match 2 has an existing match number
    elif isinstance(household_match_2, int):
        master.loc[master.index[master_index_1], 'Household Joint ID'] = household_match_2

In [22]:
master.to_excel("current_master_11_17_20_2.xlsx")