In [ ]:
# trying out splitting up names that might be a first and middle name, since currently the master has 
# no middle name column

# definitely could be tweaked

In [1]:
import pandas as pd
import numpy as np

In [3]:
master = pd.read_excel("current_master_12_9_20.xlsx")

In [71]:
# from https://www.galbithink.org/names/us200.htm
# top 100 or so names for adults in 1880
# I would mb change this though, there's some weird ones that I don't think are accurate
names = pd.read_csv("names.csv")
names['Unnamed: 0'] = names['Unnamed: 0'].str.lower()

In [72]:
names = list(set(names.iloc[:, 0]))[1:]
names[1:10]

['jacob',
 'nancy',
 'sally',
 'davide',
 'betty',
 'sophia',
 'alice',
 'august',
 'augusta',
 'alexander',
 'robert',
 'charlotte',
 'martin',
 'bella',
 'isabella',
 'michaela',
 'allane',
 'mary',
 'cora',
 'david',
 'rebecca',
 'georgina',
 'harry',
 'thomas',
 'lydia',
 'philip',
 'john',
 'susan',
 'walter',
 'francis',
 'philipp',
 'stepheni',
 'william',
 'sarah',
 'lou',
 'susanne',
 'henrietta',
 'lily',
 'frances',
 'ellen',
 'eugene',
 'peter',
 'patrick',
 'danielle',
 'jane',
 'harriett',
 'albert',
 'martha',
 'agnes',
 'emily',
 'milicent',
 'stephen',
 'benjamin',
 'caroline',
 'frederick',
 'julia',
 'helen',
 'roberto',
 'evelyn',
 'jesse',
 'rose',
 'harriet',
 'keri',
 'ada',
 'minnie',
 'james',
 'frank',
 'dahlia',
 'laura',
 'kerie',
 'elizabeth',
 'josephine',
 'anne',
 'clara',
 'catherine',
 'michael',
 'charles',
 'allan',
 'harriette',
 'lucy',
 'martine',
 'evelynne',
 'rachell',
 'arthur',
 'samuel',
 'esther',
 'isaac',
 'edwin',
 'amanda',
 'helene',
 'ann',
 'george',
 'margaret',
 'joseph',
 'richard',
 'helena',
 'rachel',
 'hannah',
 'evelynn',
 'edward',
 'daniel',
 'an',
 'florence',
 'henry',
 'lewis',
 'alfred',
 'andrew',
 'matilda',
 'rachele',
 'amelia']

In [ ]:
def middle_name_process(name):
    if pd.isna(name):
        return(np.nan, np.nan)
    else:
        lower_name = name.lower()
        # first name + initial ("SophieE")
        if lower_name[:-1] in names:
            return(name[:-1], name[-1])
        
        # first name + two initials ("SophieEB")
        elif lower_name[:-2] in names:
            return(name[:-2], name[-2])
        
        # two separate names ("Sophie Elizabeth")
        elif len(lower_name.split()) > 1:
            return(name.split()[0], " ".join(name.split()[1:]))
            
        # else, probably just one name 
        else:
            return(name, np.nan)