In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# function that updates matches
def connect_family_to_ind(input_filename, output_filename):
  df = pd.read_excel(input_filename)

  ind_to_family_map = dict()
  for family_id in df["Household Joint ID"].unique():
      if str(family_id).isnumeric():
        ind_in_family = df[df["Household Joint ID"] == family_id]["Joint ID for Matched Records"].unique()

        for ind in ind_in_family:
          if str(ind).isnumeric():
            ind_to_family_map[ind] = family_id


  df["Household Joint ID"] = df["Household Joint ID"].combine_first(df["Joint ID for Matched Records"].map(ind_to_family_map))
  df.sort_values('unique_id')
  df.to_excel(output_filename, index=False)

In [ ]:
# construct new file
root = "drive/My Drive/Colab Notebooks/DFG Arenson"
input = root + "/current_master_11_4_20.xlsx"
output = root + "/current_master_11_11_20.xlsx"

connect_family_to_ind(input, output)

In [ ]:
 # check
 df_check = pd.read_excel(output)
 print(df_check[df_check["Household Joint ID"] == 41]["Joint ID for Matched Records"])

216     130
217     130
218     131
219     131
220     132
221     133
222     133
223     135
224     136
225     138
226     139
227     142
228     142
229     142
1122    132
1123    132
1126    135
1127    136
1128    136
1131    138
1132    139
1137    142
Name: Joint ID for Matched Records, dtype: object

In [ ]:
old = pd.read_excel(input)
new = pd.read_excel(output)

In [ ]:
new["Household Joint ID"].compare(old["Household Joint ID"])

     self other
989    36   NaN
990    36   NaN
991    36   NaN
992    36   NaN
993    36   NaN
...   ...   ...
2668   99   NaN
2676   81   NaN
2689  110   NaN
3320  119   NaN
3690    5   NaN

[212 rows x 2 columns]

In [ ]:
df_wtf = pd.read_excel(input)
df_wtf = df_wtf.replace('nan', '')
output_temp = root + "/temp.xlsx"
df_wtf.to_excel(output_temp, index=False)

In [ ]:
def county_from_longlat(input_filename, output_filename):
  df = pd.read_excel(input_filename)
  longlat_to_county = dict()
  df.sort_values('unique_id')
  df.to_excel(output_filename, index=False)

In [ ]:
root = "drive/My Drive/Colab Notebooks/DFG Arenson"
input = root + "/preprocessfinal1_06_2021.csv"
df = pd.read_csv(input)

df.columns

Index(['Unnamed: 0', 'unique_id', 'Given.Name', 'Surname', 'Maiden.Name',
       'Gender', 'Race', 'Marriage.Age', 'Birth.Year', 'Birth.Place',
       'Notes.Other.Information', 'Spouse', 'Child', 'Source',
       'State.Province', 'County', 'City', 'Household.Joint.ID',
       'Joint.ID.for.Matched.Records', 'MiddleName', 'Residence.Year',
       'Street.Address', 'Residence.Place', 'Occupation', 'Marital.status',
       'Age', 'Death.Date', 'Death.Place', 'Line.Number', 'Dwelling.Number',
       'Family.Number', 'Industry', 'Attended.School', 'Cannot.Read..Write',
       'House.Number', 'Relation.to.Head.of.House', 'Marital.Status',
       'Employment.History', 'Father.s.Birth.Place', 'Mother.s.Birth.Place',
       'Street', 'Relationship', 'Immigration.Year', 'Able.to.read',
       'Able.to.Write', 'Able.to.Speak.English', 'REGIMENT',
       'DATE.OF.ENLISTMENT', 'PLACE.OF.ENLISTMENT', 'CAUSE.OF.DEATH',
       'ORDER.NUMBER', 'Regt.', 'Application', 'Certificate', 'Full.Name',
       'Rank', 'Co.', 'Height', 'Complex.', 'Census.Year', 'Place',
       'Father.of.Foreign.Birth', 'Mother.of.Foreign.Birth', 'Cannot.Read',
       'Cannot.Write', 'Number.of.Dwelling.in.Order.of.Visitation', 'Religion',
       'Home.in.1861', 'Page.number', 'Township', 'Sheet.Number',
       'Noonan.Page.Number', 'Able.to.Read.and.Write', 'Employment',
       'Naturalization.Year', 'Middle.Name'],
      dtype='object')