# 1. Dataframe Preprocessing

In [ ]:
import pandas as pd
!pip3 install recordlinkage
import recordlinkage as rl
from recordlinkage.index import Block
from recordlinkage.preprocessing import clean
from recordlinkage.preprocessing import phonetic

# Regular expression operations
import re

Collecting recordlinkage
  Downloading https://files.pythonhosted.org/packages/db/26/babbca39d74824e8bc17428a8eb04951a1d63318af7d02beeb2106a1ec26/recordlinkage-0.14-py3-none-any.whl (944kB)
     |████████████████████████████████| 952kB 5.1MB/s
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Collecting jellyfish>=0.5.4
  Downloading https://files.pythonhosted.org/packages/30/a6/4d039bc827a102f62ce7a7910713e38fdfd7c7a40aa39c72fb14938a1473/jellyfish-0.8.2-cp37-cp37m-manylinux2014_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 6.4MB/s
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.22.2.post1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.2 recordlinkage-0.14

In [ ]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# parse file
root = "drive/My Drive/Colab Notebooks"
df = pd.read_excel(root + "/current_master_3_21_2021.xlsx")

In [ ]:
for col in df.columns.unique():
  print(col)

unique_id
source
Census.Year
State.Province
County
Place
unsure_ids
no_ids
Household.Joint.ID
Joint.ID.for.Matched.Records
Last.Name
First.Name
CalculatedBirthYear
Age
Sex
Color..Race.or.Ethnicity
lat
long
address
MARITAL
WARD
ROLL.or.Sheet.
PROFESSION
Notable
Street.Address
PLACEOFBIRTH
RELIGION
NOTE.these.only.apply.to.narrative.answers
LIVING.W.MALE.FAMILY.
LIVING.W.FEMALE.FAMILY.
LIVING.W.MALE.NONFAMILY.
LIVING.W.FEMALE.NONFAMILY.
Cannot.Read
Cannot.Write
Sick
Relation.to.Head.of.House
Year.of.Immigration.to.Canada.if.an.Immigrant
Date.of.Death
Cause.of.Death
Rank_Military
Enlistment.Date
Enlistment.Place
Census.record.ID
Location.ID
Family.ID
Birth.Month
Birth.Day
Employment.History
Months.school
Earnings
English
French
Naturalization.Year
Mother.Tongue
Birthplace.Type
Race
Nationality
Has.Annote
Page
Line
Whitem
Colouredm
Colouredf
Totalm
Totalf
Childrenm
Childrenf
Schoolm
Schoolf
Notes.Other.Information
Last.Name.MATCH
First.Name.Match
Census.Year.Match
Total.of.Matches
Father.s.Name
Mother.s.Name
Spouse
City
MiddleName
Residence.Place
Death.Place
Family.Number
Attended.School
House.Number
Father.s.Birth.Place
Mother.s.Birth.Place
Immigration.Year
Able.to.read
Able.to.Write
REGIMENT
ORDER.NUMBER
Regt.
Application
Full.Name
Co.
Height
Complex.
Father.of.Foreign.Birth
Mother.of.Foreign.Birth
Township
Sheet.Number
Noonan.Page.Number
Employment
Whitef
full_name

In [ ]:
# rename columns
df = df.rename(columns = {# Personal Information
                                       'Last.Name': 'last_name',
                                       'First.Name': 'first_name', 
                                       # Places or Geography
                                       'State.Province': 'state_or_province', 
                                       'County': 'county', 
                                       'Place': 'place', 
                                       'WARD': 'ward', 
                                       'Street.Address': 'street', 
                                       'PLACEOFBIRTH': 'place_of_birth',
                                       'ROLL.or.Sheet.': 'roll_or_sheet',
                                       # Years
                                       'Census.Year': 'census_year', 
                                       'CalculatedBirthYear': 'calculated_birth_year', 
                                       # Personal information
                                       'Sex': 'sex', 
                                       'Color..Race.or.Ethnicity': 'race',
                                       'MARITAL': 'marital_status',
                                       'PROFESSION': 'profession',
                                       'Notable': 'notable',
                                       'RELIGION': 'religion',
                          'Joint.ID.for.Matched.Records': 'Joint ID for Matched Records'
                          })

In [ ]:
# master info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59519 entries, 0 to 59518
Columns: 104 entries, unique_id to Whitef
dtypes: float64(43), int64(1), object(60)
memory usage: 47.2+ MB

In [ ]:
# chosen columns
chosen_columns = ['last_name', 
                  'first_name',
                  'state_or_province',
                  'county',
                  'place',
                  'ward',
                  'street',
                  'place_of_birth',
                  'roll_or_sheet',
                  'lat',
                  'long',
                  'census_year',
                  'calculated_birth_year',
                  'sex',
                  'race',
                  'marital_status',
                  'profession',
                  'religion',
                  'unique_id',
                  'phonetic_name']

# 2. Standardization/normalization

In [ ]:
import numpy as np

In [ ]:
#name, phonetic
column_to_parse = ['last_name', 'first_name']

for c in column_to_parse:
  df[c] = df.apply(lambda row: str(row[c]).lower(), axis = 1)

df["phonetic_name"] = phonetic(df['last_name'], 'soundex')+phonetic(df['first_name'], 'soundex')

In [ ]:
# race
def transform_race(row):    
    
    if pd.notnull(row['race']):
        row['race'] = row['race'].lower()
        row['race'] = row['race'].replace('\xa0', '')
        row['race'] = row['race'].replace('“', '')
        row['race'] = row['race'].replace('”', '')
    
    race_dict = {'mulatto(blackandwhite)': 'MIXED',
                 'm(wonancestry.com)': 'MIXED',
                 'mulatto': 'MIXED',
                 'mullato': 'MIXED',
                 'm': 'MIXED',
                 'm(winancestry.com)': 'MIXED',
                 'black': 'BLACK',
                 'b': 'BLACK',
                 'blk': 'BLACK',
                 'brown': 'BLACK',
                 'african': 'BLACK',
                 'dark': 'BLACK',
                 'drk': 'BLACK',
                 'african (black)': 'BLACK',
                 'negro': 'BLACK',
                 'blacj': 'BLACK', 
                 'bkj': 'BLACK', 
                 'light': 'WHITE',
                 'white': 'WHITE',
                 'w': 'WHITE',
                 '[w]': 'WHITE',
                 'white': 'WHITE',
                 'seems to be white': 'WHITE',
                 'white in black household': 'WHITE',
                 'white but passing': 'WHITE',
                 'ancestrysaysw': 'WHITE',
                 'swarthy': 'BLACK',
                 'd. brown': 'BLACK',
                 'col.d': 'BLACK',
                 'col\'d': 'BLACK',
                 }
    if row['race'] in race_dict.keys():
      return race_dict[row['race']]
    elif pd.notnull(row['race']):
      return 'OTHERS'
    else:
     return row['race']

df['race'] = df.apply(lambda row: transform_race(row), axis = 1)

In [ ]:
df['state_or_province'].unique()

array([nan, 'New York', 'Massachusetts', 'Michigan', 'Pennsylvania',
       'Missouri', 'Maine', 'Ohio', 'Illinois', 'Rhode Island',
       'Virginia', 'Wisconsin', 'Canada West', 'Ontario', 'Connecticut',
       'California', 'New Jersey', 'Minnesota', 'Delaware', 'Maryland',
       'Indiana', 'Texas', 'Washington DC', 'Iowa', 'Kansas', 'Vermont',
       'Oregon', 'Louisiana', 'British Columbia', 'Mississippi',
       'Oklahoma', 'Nebraska', 'Florida', 'Kentucky', 'Colorado',
       'Washington', 'Arkansas', 'West Virginia', 'NB', 'Tennessee',
       'South Carolina', 'Montana', 'Alabama', 'Alaska', 'Virgin Islands',
       'Georgia', 'North Carolina', 'New Mexico', 'MIL: Usnavy',
       'New Hampshire', 'Puerto Rico', 'North Dakota', 'Arizona', 'PANA',
       'South Dakota', 'Wyoming', 'Idaho', 'Nevada', 'Hawaii',
       'MIL: Philippines', 'MIL: Maryland', 'MIL: Massachusetts', 'Utah',
       'Massachussetts', 'MIL: Southcarolina', 'MIL: Cuba', 'ITER',
       'District of Columbia', 'Canada', 'NY', 'WA', 'IA', 'ME',
       'New Brunswick', 'MI', 'Ontario ', 'VA', 'Nova Scotia', 'CO', 'IL',
       'MA'], dtype=object)

In [ ]:
# locations (nameparser, fuzzy matching)
def transform_state(row):    
    """
    This function uses a dictionary
    to covert historical or non-abbreviated states or provinces
    into abbreviated form. 
    An important notice is that Canada West will all be converted into ON (Ontario).
    Unknown values: PANA, ITER, MIL.
    """
    state_dict = {
                  'CO': 'Colorado',
                  'MA': 'Massachussetts',
                  'VA': 'Virginia',
                  'IL': 'Illinois',
                  'ME': 'Maine',
                  'NY': 'New York',
                  'MI': 'Michigan',
                  'WA': 'Washington',
                  'IA': 'Iowa',
                  }
    
    if row['state_or_province'] in state_dict.keys():
        return state_dict[row['state_or_province']]
    else:
        return row['state_or_province']

df['state_or_province'] = df.apply(lambda row: transform_state(row), axis = 1)

In [ ]:
# dates
import datetime
def prc_year(row, year_col):
    """
    Processing birth year.
    If birth year is not a number, not in a date format, or is noncompliant,
    it will be converted to NaN.
    """
    
    # Helper functions
    def is_number(num):
        try:
            float(num)
            return True
        except ValueError:
            return False
    if (type(row[year_col]) is datetime.datetime):
        row[year_col] = row[year_col].strftime("%Y")
    non_compliant_values = ['-', 'F', '#VALUE!']
    if row[year_col] in non_compliant_values or pd.isnull(row[year_col]):
        return np.nan
    elif is_number(row[year_col]):
        return float(row[year_col])
    elif re.findall('\d{4}', row[year_col]):
        return min([float(i) for i in re.findall('\d{4}', row[year_col])])
    else:
        return np.nan

df['calculated_birth_year'] = df.apply(lambda row: prc_year(row, 'calculated_birth_year'),
                                       axis = 1)
df['census_year'] = df.apply(lambda row: prc_year(row, 'census_year'),
                             axis = 1)

In [ ]:
# clean place of birth
def transform_birthplace(row):    
    """
    This function uses a dictionary
    to covert places of birth to cleaner strings
    """
    if pd.notnull(row['place_of_birth']):
      row['place_of_birth'] = str(row['place_of_birth'])
      row['place_of_birth'] = row['place_of_birth'].lower()
      row['place_of_birth'] = row['place_of_birth'].replace('\xa0', '')
      row['place_of_birth'] = row['place_of_birth'].replace('“', '')
      row['place_of_birth'] = row['place_of_birth'].replace('”', '')
      row['place_of_birth'] = row['place_of_birth'].replace('(', '')
      row['place_of_birth'] = row['place_of_birth'].replace(')', '')
      row['place_of_birth'] = row['place_of_birth'].replace('[', '')
      row['place_of_birth'] = row['place_of_birth'].replace(']', '')
 
      return row['place_of_birth']

df['place_of_birth'] = df.apply(lambda row: transform_birthplace(row), axis = 1)

In [ ]:
df['place_of_birth'].unique()

array(['usa', 'canada', 'maine', 'cw', 'can', 'ohio', 'michigan',
       'british columbia, canada', None, 'victoria bc', 'canadawest',
       'north carolina', 'uc', 'u.c.', 'new brunswick', 'mo', 'u. canada',
       'windsor', 'ontario', '24990', 'unitedkingdom,n.s.', 'kentucky',
       'indianna', 'detroit', 'northcarolina', 'chatham', 'texas',
       '44030', 'do meaning u canada upper canada', 'md', 'lc',
       'pennsylvania', 'virginia', 'arkansas', 'canadaw', 'minnesota',
       'indiana', 'kansas', '44010', 'mississippi', 'chathamcw',
       'missouri', 'wisconsin', 'amherstburg', 'united states',
       'new york', 'ireland', 'ny', '99999', 'us', 'u.s.', 'germany',
       'o ontario', 'washington', 'nj', 'lisa', 'new mexico', 'tennessee',
       'newyork', '21230', 'milwaukie', 'illinois', 'mexico', '21130',
       'eng', 'pa', 'il', 'ky', 'w', 'domeaningindiana', 'maryland',
       '43090', '24010', 'ma', 'mi', '21140', '31010', 'alaska', 'va',
       'sandwich', 'sweden', 'nova scotia', 'toronto', 'philadelphia',
       'chatham, cw', '44090', 'italy', 'ire', 'missiouri', '44043',
       '41030', 'toronto, cw residence rochester, ny', 'halifax, ns',
       'st john, nb', 'buxton, cw', 'toronto, cw', 'gardsborough, ns',
       '1', 'canada east', 'hamilton, cw', 'nassau, nb', 'essex co., cw',
       'montreal, ce', 'canada w.', 'stlouis',
       'toronto, cw residence urbana, ohio', '42090', '22060',
       'covington, kentucky, usa', 'hamilton. cw residence blanford, ma.',
       'malden, cw', 'montreal, cw', 'little york, cw', 'london, cw',
       'toronto, canada w.', 'gosfield, canada', 'london, ontario',
       'iowa', 'othercaribbeanandn.s.', 'kingston, cw',
       'kingston, canada west', '5', 'kent co, cw', '23990', '80000',
       '21080', 'norwich twp, cw', 'canada west', 'harwich, cw',
       'canada,', 'st johns, new brunswick', 'canada british canadian',
       'st. johns, nb.', '55', 'upper canada', 'kent co., cw', 'arizona',
       '44080', 'uc meaning upper canada', 'win',
       'not in fold3 quick - check others', 'amherstburg, cw',
       'quebec, ce', 'n.b. same residence', 'lellyport ?, canada',
       'u. states', '44020', '32040', '21050', 'kerrigan,, canada',
       'guisbury n. scotia', 'vicksburg', 'mailstone, canada',
       'montreal, ce residence, greenfield, ma.', 'ont ontario', '42010',
       'districtcolumbia', 'st. catherines, cw', 'woodstock, cw',
       'lowercanada', '43060', 'sco', 'deleware', 'windsor, cw',
       'neworleans', 'st. johns, n. brunswick', 'st. andrews, nb',
       'st. andrews, n brunswick', 'st. andres, n. brunswick', '41050',
       '23040', 'memphis tn', '39990', 'pru', 'de', 'black', 'canada ba',
       'louisiana', 'fingal co. canada', '15140', 'wi',
       'canada residence boston', 'georgia', '34151', '51000', '21040',
       'barbados', '15030',
       'amherstburg, cw residence malden, cw, postwar ypsilanti, mich',
       'alabama', 'richmond co county indiana us', '41080',
       'massachusetts', 'nova scotia or not stated?', '21210', 'afr',
       'st. johns new brunswick', '22000',
       'virginia or michigan or canada', '41020', '21100', 'srcathermes',
       'st. stephens, new brunswick', '43120', 'chatham, canada',
       'british columbia', '-', '49999', '21150', 'ontario, canada',
       'southcarolina', 'cincinnati',
       'tksortbylat-long,orlastnamefirstnamebirththenlatlongor..?',
       'england', 'sandwich, cw', 'newjersey', 'north caroline',
       'u states', '42040', 'canada, english',
       'pennsylvania, united states', 'states united states', 'al',
       'vermont', 'guelph, canada', 'sc', 'east indies', 'delaware',
       'westindies', 'richmond, ind. indiana', '19999', '23010', '51010',
       'prince edward island', 'spain', 'nsc', 'stlouism',
       'canada british province', 'connecticut', 'tennesse',
       'west virginia', 'colorado', 'ga', 'district columbia',
       'windsor, canada', 'st croix', 'sam',
       'canada or virginia or michigan', 'jamaica', '21270', 'hai',
       'canada english', '52010', 'maryland, u.s.', 'stcathermes',
       '15070', 'u s', 'kentucky, u.s.', 'u.s.a.', 'blank', 'west indies',
       'toronto, canada', 'indiana, u.s.', 'st helena',
       'tennessee, united states', 'done', '102', 'domeaningmichigan',
       'pei', '. canada', 'montrreal, canada', '26', '3',
       'not in fold3 - check other', 'canada same residence', '20',
       'benjamin f. talbot of seaforth, canada west was one such recruit. he joined the 5th usct as william thurman and gave his nationality as american although he returned to canada west as soon as he was mustered out. william thurman, civil war pension file, rg 94, national archives.',
       '18', '31', '24', '25', '38', '23', 'niagara, cw',
       'niagara, canada', 'canadian', 'victoria bc canada',
       'chatham ontario canada', 'washington dc', 'new bedsoto conn',
       'chatham ont, canada', 'chatham ont canada', 'scotland',
       'cwtoronto', 'cw-wellington', 'ns-halifax', 'nb-frederickton',
       'cw-toronto', 'cw-kingston', 'nb-st johns', 'ce-montreal',
       'cw-malden', 'cw-little york', 'cw-hamilton', 'ns-elyport',
       'ns-middleport', 'cw-sandwich', 'cw-buxton', 'cw-kent co',
       'nb-st stepehens', 'cw-chatham', 'cw-blarck rock', 'cw-camden',
       'ce-st estache', 'ns-guysborough', 'cw-prescott', 'cw-london',
       'cwfinigal', 'nbst john', 'cemontreal', 'cwhamilton', 'nshalifax',
       'nova scotia-halifax', 'cwwindsor', 'e', 'rc', 'cwchatham',
       'nbst andrews', 'cw-stcatherines', 'cw-gray co', 'cw-woodstock',
       'cw-windsor', 'nb-stjohn', 'i', 'cw-st catherines', 'cw-mailstown',
       'cw-sarnia', 'cw-oxford co', 'cw-fort erie', 'ns-lockhartville',
       'ns-lollyport', 'cwlondon', 'cwharwich', 'cwwoodstock', 'nbnassau',
       'nb-grafton', 's', 'cw hampton', 'cwralleigh', 'boston',
       'cw chatham', 'cwessex co', 'nbhillsborough', 'newfoundland',
       'nscape breton', 'cwkingston', 'ce-st johns', 'v',
       'ns-isaacs harbor', 'cw-plymouth', 'nb st johns', 'ie',
       'cw-hampton', 'ns-annapolis', 'cwmalden', 'cwbuxton', 'cwgosfield',
       'ns-yarmouth', 'cw-walden', 'cw-amhurstburg', 'ce',
       '1.ââââ marks jerry unit 1st usct infantry home chatham canada west aae 18 other info farmer reduced to the ranks for drunkenness and insubordination',
       '2.ââââ peaks james unit 1st usct infantry home st. catherines canada west aae 23 other info cook sentenced to hard labour by a general court martial',
       '3.ââââ simmons john unit 1st usct infantry home canada aae 18 mustered out dld late 1865 other info farmer',
       '4.ââââ st. dana james unit 1st usct infantry home canada west aae 27 other info farmer died in hospital at fort hatteras nc tldd dih 10 july 1865 fort hatteras nc cemetey new berne national nc plot 123 grave 14',
       '5.ââââ thompson william unit 1st usct infantry home canada aae 35 mustered out dld late 1865 other info farmer',
       'st. johns, nb', ' toronto, cw', 'toronto, canada west',
       'st johns, nb', 'st. johns nb', 'n. brunswick', 'niagara,canada',
       'â€œcanadianâ€\x9d',
       ' benjamin f. talbot of seaforth, canada west was one such recruit.  he joined the 5th usct as william thurman and gave his nationality as american although he returned to canada west as soon as he was mustered out.  â€œwilliam thurman,â€\x9d civil war pension file, rg 94, national archives.',
       'canada â€œbritish canadianâ€\x9d',
       'canada â€œbritish provinceâ€\x9d',
       'canada, â€œbritish provinceâ€\x9d', 'â€œnew londonâ€\x9d, cw',
       'st. john, nb', 'kingston', 'â€œkerrigan,â€\x9d, canada',
       'middleport, canada', 'â€œlellyportâ€\x9d ?,  canada',
       'st catherines, cw', 'â€œkanastaâ€\x9d. canada',
       'â€œlittle yorkâ€\x9d, cw', 'owen sound, cw', 'â€œcanada baâ€\x9d',
       'richmond, cw', 'st. stephens,  new brunswick',
       'st. johns  new brunswick', 'port perrott canada', 'fort erie, cw',
       'st. catherine, cw', 'galt, cw', 'georgetown, cw',
       'st catherine, cw', 'brantford, cw', 'halifax, ns same residence',
       'nova scotia ', 'yarmouth, ns same residence',
       'hamilton, cw residence boston, postwar salem, ma',
       'canada same residence, postwar hartford, conn.',
       'st. john, nb same residence', 'black rock, canada', 'winsor, cw',
       'yarmouth, ns', 'gray co., cw', 'ns', 'montrã©al, ce',
       'wellington, cw', 'canada crossed out, "kentucky" added',
       'st. john', 'thinle, ce', 'rawleigh, canada', 'new hampshire',
       'nb', 'maine, usa', 'virginia, usa',
       'houlton, aroostook, maine, usa', 'covington, ky, usa', '?',
       'can ', 'dc', 'jam', 'chatham canada w', 'south carolina',
       'st john, new brunswick', 'kennebunk, maine'], dtype=object)

In [ ]:
# fill empty columns
columns_to_impute_with_unknown = ['state_or_province',
                                  'county',
                                  'place',
                                  'ward',
                                  'street',
                                  'place_of_birth',
                                  'sex',
                                  'race',
                                  'marital_status',
                                  'profession',
                                  'religion']

for i in columns_to_impute_with_unknown:
    df[i] = df[i].fillna('unknown')

columns_to_impute_with_zero = ['roll_or_sheet',
                               'lat',
                               'long',]

for i in columns_to_impute_with_zero:
    df[i] = df[i].fillna(0)

In [ ]:
# dealing with the 'unknowns'
chrs = 'abcdefghijklmnopqrstuvwxyz0123456789 '

location_columns = ['county', 'place', 'place_of_birth', 'state_or_province']

count = 0

for i, row in df.iterrows():
    if all([row[i] == 'unknown' for i in location_columns]):
      continue
    else:
      for l in location_columns:
        c = "".join(np.random.choice(list(chrs), 20))
        row[l] = c

# 3. Linkage

In [ ]:
# match all
df1 = df[chosen_columns]
df2 = df[chosen_columns]

# block on phoenetic full name
indexer = rl.Index()
indexer.add(Block('phonetic_name', 'phonetic_name'))
record_links = indexer.index(df1, df2)

In [ ]:
df[pd.isnull(df['Joint ID for Matched Records'])].shape

(52319, 105)

In [ ]:
# unmatched VS matched
# df_withmatch = df[pd.notnull(df['Joint ID for Matched Records'])]
# df_nomatch = df[pd.isnull(df['Joint ID for Matched Records'])]
# chosen_columns.append("phonetic_name")

# df_withmatch = df_withmatch[chosen_columns]
# df_nomatch = df_nomatch[chosen_columns]

# indexer = rl.Index()
# indexer.add(Block('phonetic_name', 'phonetic_name'))
# record_links = indexer.index(df_withmatch, df_nomatch)

In [ ]:
comparer = rl.Compare()
comparer.string('first_name', 'first_name', method = 'jarowinkler', threshold = 0.85, label = 'first_name')
comparer.string('last_name', 'last_name', method = 'jarowinkler', threshold = 0.85, label = 'last_name')
comparer.string('state_or_province', 'state_or_province', method = 'jarowinkler', threshold = 0.5, 
                label = 'state_or_province')
comparer.string('county', 'county', method = 'jarowinkler', threshold = 0.35, label = 'county')
comparer.string('place', 'place', method = 'jarowinkler', threshold = 0.35, label = 'place')
comparer.string('place_of_birth', 'place_of_birth', method = 'jarowinkler', threshold = 0.6, label = 'place_of_birth')
comparer.string('race', 'race', method = 'jarowinkler', threshold = 0.7, label = 'race')
comparer.string('sex', 'sex', method = 'jarowinkler', threshold = 0.7, label = 'sex')

comparer.numeric('calculated_birth_year', 'calculated_birth_year', 
                 method = 'gauss', 
                 offset = 1, 
                 scale = 1, 
                 label = 'calculated_birth_year')

Output Processing

In [ ]:
import sys
sys.setrecursionlimit(1000000)

In [ ]:
compare_vectors_rl = comparer.compute(record_links, df1, df2)

In [ ]:
result_rl = compare_vectors_rl[((compare_vectors_rl['first_name'] == 1.0) & 
                                (compare_vectors_rl['last_name'] == 1.0)) &
                               ((compare_vectors_rl['state_or_province'] == 1.0) |
                                (compare_vectors_rl['county'] == 1.0) |
                                (compare_vectors_rl['place'] == 1.0) |
                                (compare_vectors_rl['place_of_birth'] == 1.0)) &
                               (compare_vectors_rl['sex'] == 1.0) &
                               (compare_vectors_rl['race'] == 1.0) & 
                               ((compare_vectors_rl['calculated_birth_year'] > compare_vectors_rl['calculated_birth_year'].mean())
                               | (compare_vectors_rl['calculated_birth_year'] == np.nan))].\
                               reset_index()

result_rl = result_rl[result_rl['level_0'] != result_rl['level_1']].reset_index()
result_rl.drop('index', axis = 1, inplace = True)

In [ ]:
def create_indexid(row):
    return "".join(sorted([str(int(i)) for i in [row['level_0'], row['level_1']]]))

result_rl['indexid'] = result_rl.apply(lambda row: create_indexid(row), axis = 1)
result_rl = result_rl.drop_duplicates('indexid')

In [ ]:
# parse unsures into a dictionary
from collections import defaultdict
already_seen_pairs = defaultdict(set)

for id, list_unsures in list(zip(df.unique_id, df.unsure_ids)):
  if list_unsures[1:-1] != "":
    already_seen_pairs[id] = set(list_unsures[1:-1].split(", "))
  if id == 41810:
    print(list_unsures[1:-1])

for id, list_nos in list(zip(df.unique_id, df.no_ids)):
  if list_nos[1:-1] != "":
    already_seen_pairs[id] = set(list_nos[1:-1].split(", "))

42190, 41360

In [ ]:
df_result_rl.reset_index(inplace = True)
df_result_rl = df_result_rl.drop('index', axis = 1)
df_result_rl.head()
df_result_rl.shape

(3014, 105)

In [ ]:
num_list = []
for i in range(int(df_result_rl.shape[0]/2)):
    num_list.append(i)
    num_list.append(i)
df_result_rl['dup_pair'] = pd.Series(num_list)

In [ ]:
col_order = ['dup_pair']
col_order.extend(df.columns.tolist())
df_result_rl = df_result_rl[col_order]
output = root + "/newmatches-3-17-21.xlsx"
df_result_rl.to_excel(output)

In [ ]:
df_result_rl.head()

   dup_pair  unique_id                  source  ...  Employment Whitef phonetic_name
0         0    48688.0  1880 IPUMS 100% sample  ...         NaN    NaN      W452G620
1         0    49094.0                   13040  ...         NaN    NaN      W452G620
2         1    49093.0                    4475  ...         NaN    NaN      W452G620
3         1    49094.0                   13040  ...         NaN    NaN      W452G620
4         2     3468.0    1900 IPUMS 5% sample  ...         NaN    NaN      A632E420

[5 rows x 106 columns]